.bgHeroImg {
    background-image: url('https://picsum.photos/1300/500');
    background-position: center center;
    background-color: black;
}

icon:hover {
    width:200%;
    height:200%;
}

.card {
    margin: 35px;
}

.title {
    text-align: center;
}